# Move this file into the library package folder and rename it into "EggplantLib.config" if you decide to use it
# The library import params from RF test cases have higher priority than this config file
# See readme.md

suite=..\tests\keywords\eggPlantScripts\SuiteOne.suite
scripts_dir=Scripts
host=http://127.0.0.1
port=5400